@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 213 31% 91%;

    --card: 0 0% 100%;
    --card-foreground: 213 31% 91%;

    --popover: 0 0% 100%;
    --popover-foreground: 213 31% 91%;

    --primary: 202 83% 41%;
    --primary-foreground: 0 0% 100%;

    --secondary: 202 23% 89%;
    --secondary-foreground: 202 83% 16%;

    --muted: 202 23% 89%;
    --muted-foreground: 202 10% 55%;

    --accent: 27 96% 61%;
    --accent-foreground: 27 96% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 202 23% 89%;
    --input: 202 23% 89%;
    --ring: 202 83% 41%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 202 84% 6%;
    --foreground: 202 23% 89%;

    --card: 202 84% 6%;
    --card-foreground: 202 23% 89%;

    --popover: 202 84% 6%;
    --popover-foreground: 202 23% 89%;

    --primary: 202 83% 61%;
    --primary-foreground: 202 84% 6%;

    --secondary: 202 32% 18%;
    --secondary-foreground: 202 23% 89%;

    --muted: 202 32% 18%;
    --muted-foreground: 202 20% 65%;

    --accent: 27 96% 61%;
    --accent-foreground: 27 96% 10%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 202 23% 89%;

    --border: 202 32% 18%;
    --input: 202 32% 18%;
    --ring: 202 83% 61%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
